{% extends "base.html" %} {% from 'bootstrap5/form.html' import render_field %}
{% block title %} {{ product.name }} {% endblock %} {{ bootstrap.load_css() }}
{% block breadcrumb %}
<ul class="breadcrumbs list-unstyled">
  <li>
    <a href="{{ url_for('public.home') }}"> Home </a>
  </li>
  {% if product.artist %}
  <li>
    <a href="{{ product.artist.get_absolute_url() }}">{{ product.artist }}</a>
  </li>
  {% endif %}
  <li>
    <a href="{{ product.get_absolute_url() }}">{{ product }}</a>
  </li>
</ul>
{% endblock breadcrumb %} {% block content %}

<div class="row product">
  <div class="col-md-6 col-12 product__gallery">
    {% with images=product.images %} {% if images %}

    {% include "products/_carousel.html" %}

    {% else %}
    <img alt="" class="img-fluid lazyload lazypreload" />
    {% endif %} {% endwith %}
  </div>
  <div class="col-md-6 col-12 product__info">
    <h1 class="product__info__name">{{ product }}</h1>

    <h2 class="product__info__price">
      <span class="text-info">$ {{product.price}}</span>
      {% if product.is_discounted %}
      <small class="product__info__price__undiscounted">
        {{product.basic_price}}
      </small>
      {% endif %}
      <small class="stock"> </small>
    </h2>

    {% if product.on_sale %} {% block orderform %}
    <form id="product-form" role="form" class="product-form1 clearfix" method="post"
      action="{{ url_for('product.product_add_to_cart', id=product.id) }}">
      {{ form.csrf_token }} {% if form.variant.choices | length > 1 %}
      <div class="variant-picker">
        <div class="variant-picker__label">
          {{ form.variant.label.text|safe }}
        </div>
        <div class="btn-group" role="group" aria-label="select variant">
          {% for item in form.variant -%}
          <input type="radio" class="btn-check variant-picker__option" name="variant" id="{{item.id}}"
            autocomplete="off" value="{{item.data}}" required />
          <label class="btn btn-outline-primary" for="{{item.id}}">{{ item.label.text|safe }}</label>
          {% endfor %}
        </div>

        <div class="btn-group mt-3 d-block" role="group" aria-label="select child variant">
          {% for child in form.child_variant %}
          <input type="radio" class="btn-check variant-picker__option" name="child_variant" id="child_{{ child.id }}"
            autocomplete="off" value="{{ child.data }}" required />
          <label class="btn btn-outline-primary" for="child_{{ child.id }}">{{ child.label.text|safe }}</label>
          {% endfor %}
        </div>

        {% if form.variant.errors %}
        <div class="is-invalid"></div>
        <div class="invalid-feedback">
          {% trans %}Please choose a variant!{% endtrans %}
        </div>
        {% endif %}
      </div>
      {% else %} {% for item in form.variant -%}
      <label class="d-none"> {{ item(checked='checked')|safe }} </label>
      {% endfor %} {% endif %}

      <div class="product__info__quantity">
        {{ render_field(form.quantity) }}
      </div>

      <div class="form-group product__info__button">
        <button class="btn btn-primary" type="submit">
          {% trans %}Add to cart{% endtrans %}
        </button>
      </div>
    </form>

    {% endblock %}
    <div class="product__info__form-error">
      <small class="text-danger"></small>
    </div>

    {% else %}
    <p class="alert alert-warning">
      {% trans %}This product is currently{% endtrans %}
      <strong>{% trans %}unavailable{% endtrans %}</strong>.
    </p>
    {% endif %}
    <div class="product__info__description">
      <h3>{% trans %}Description{% endtrans %}</h3>
      <hr />
      {{ product.description|safe }}
    </div>
    <hr />
    <table>
      {% set year_exists = "Year" in product.title_map_for_attributes %} {% for
      attribute, value in product.title_map_for_attributes.items() %} {% if
      year_exists and attribute == "Period" %}
      <!-- Omit both attribute and value for Period if Year exists -->
      {% else %}
      <tr>
        <td>{{ attribute }}:</td>
        <td>
          <strong> {{ value }} </strong>
        </td>
      </tr>
      {% endif %} {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}